@model SportsStore.Models.ProductListViewModel

@{
    ViewBag.Title = "Products";
}

<h2>产品列表</h2>
@foreach (var p in Model.Products)
{
    @Html.Partial("ProductSummary",p)
}
<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x ,category=Model.CurrentCategory}))
</div>
